@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-div{
    background-color: #ff5e00;
    color: #ffffff;
}

.footer-div{
    background-color: #5c5c5c;
    color: #ffffff;
}

.border-bottom{
    border-bottom: 1px solid #ff5e00;
}

.card{
    border: 1px solid #bdbcbc;
}

.card-header{
    background-color: #bdbcbc;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.offcanvas-header{
    padding: 5px 15px !important;
    background-color: #ff5e00;
}

.offcanvas-title{
    font-size: 15px !important;
    color:#ffffff !important;
}